<div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
      <h1 class="text-center mb-0">Lista Studenti</h1>
    </div>
    <div class="table-responsive p-3">
      <table
        id="studentiTable"
        class="table table-hover table-striped table-bordered mt-3"
      >
        <thead class="bg-light">
          <tr class="text-center">
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Indirizzo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let studente of studenti$ | async" class="text-center">
            <td>{{ studente.id }}</td>
            <td>{{ studente.name }}</td>
            <td>{{ studente.email }}</td>
            <td>{{ studente.address.city }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
