<!-- lista-studenti.component.html -->
<div class="container">
  <h1 class="text-center mb-3">Lista studenti</h1>
  <div class="table-responsive">
    <table id="studentiTable" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Indirizzo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let studente of studenti$ | async">
          <td>{{ studente.id }}</td>
          <td>{{ studente.name }}</td>
          <!-- Assicurati di usare 'name' -->
          <td>{{ studente.email }}</td>
          <td>{{ studente.address.city }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
